
body {
	background-color:#fff;	
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

#page {
	background-color:#efefef;
	width:600px;
	margin:50px auto;
	padding:20px 150px 20px 50px;
	min-height:600px;
	border:2px solid #fff;
	outline:1px solid #ccc;
	text-align:left;
}

.less {
	color:#999;
	font-size:12px;
}

a {
	color:#295c72;		
}
